---
http_interactions:
- request:
    method: get
    uri: https://www.mydhl.dhl.com/shipmentTracking?AWB=1234567
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      MyHeader:
      - D=37339
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "code" : 404,
            "label" : "Not found",
            "message" : "No result found for your DHL query. Please try again.",
            "id" : "1234567"
          } ]
        }
      effective_url: https://www.mydhl.dhl.com/shipmentTracking?AWB=1234567
  recorded_at: Sat, 08 Nov 2014 06:20:33 GMT
recorded_with: VCR 2.9.3
