---
http_interactions:
- request:
    method: get
    uri: http://www.dhl-usa.com/shipmentTracking?AWB=1234567&countryCode=us&languageCode=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "code" : 404,
            "label" : "Not found",
            "message" : "No result found for your DHL query. Please try again.",
            "id" : "1234567"
          } ]
        }
      effective_url: http://www.dhl-usa.com/shipmentTracking?AWB=1234567&countryCode=us&languageCode=en
  recorded_at: Fri, 14 Nov 2014 00:42:28 GMT
recorded_with: VCR 2.9.3
