---
http_interactions:
- request:
    method: get
    uri: https://www.mydhl.dhl.com/shipmentTracking?AWB=6476119576
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      MyHeader:
      - D=454085
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "results" : [ {
            "id" : "6476119576",
            "label" : "Waybill",
            "type" : "airwaybill",
            "duplicate" : false,
            "origin" : {
              "value" : "TOKYO - HIGASHIKURUME - JAPAN",
              "label" : "Origin Service Area",
              "url" : "http://www.dhl.co.jp/en/country_profile.html"
            },
            "destination" : {
              "value" : "GREENSBORO, NC - GREENSBORO - USA",
              "label" : "Destination Service Area",
              "url" : "http://www.dhl-usa.com/en/country_profile.html"
            },
            "description" : "Shipment information received : Friday, November 07, 2014  at 15:34",
            "hasDuplicateShipment" : false,
            "signature" : {
              "link" : {
                "url" : "https://proview.dhl.com/GC3/proview/adhocnotify?id=mAtE%2F0oL0r0wvmjggydn8Zh%2FkrRB7XethXdun71Ou1A%3D&appuid=ONWLDos95lgDjSxbiEfEsg%3D%3D&locale=en_G0&token=R3Fk9Yr1tYl7WI25yMeMGrA0V4qA124LF2O22zX5298%3D",
                "label" : "Sign up for shipment notifications"
              },
              "type" : "proview",
              "description" : "Friday, November 07, 2014  at 15:34",
              "signatory" : "Shipment information received ",
              "help" : "help"
            },
            "checkpoints" : [ {
              "counter" : 1,
              "description" : "Shipment information received",
              "time" : "15:34",
              "date" : "Friday, November 07, 2014 ",
              "location" : "TOKYO - JAPAN"
            } ],
            "checkpointLocationLabel" : "Location",
            "checkpointTimeLabel" : "Time"
          } ]
        }
      effective_url: https://www.mydhl.dhl.com/shipmentTracking?AWB=6476119576
  recorded_at: Sat, 08 Nov 2014 06:20:33 GMT
recorded_with: VCR 2.9.3
