---
http_interactions:
- request:
    method: get
    uri: http://www.dhl-usa.com/shipmentTracking?AWB=6476119576&countryCode=us&languageCode=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "results" : [ {
            "id" : "6476119576",
            "label" : "Waybill",
            "type" : "airwaybill",
            "duplicate" : false,
            "delivery" : {
              "code" : "101",
              "status" : "delivered"
            },
            "origin" : {
              "value" : "TOKYO - HIGASHIKURUME - JAPAN",
              "label" : "Origin Service Area",
              "url" : "http://www.dhl.co.jp/en/country_profile.html"
            },
            "destination" : {
              "value" : "GREENSBORO, NC - GREENSBORO - USA",
              "label" : "Destination Service Area",
              "url" : "http://www.dhl-usa.com/en/country_profile.html"
            },
            "description" : "Delivered - Signed for by : Tuesday, November 11, 2014  at 10:46 AM",
            "hasDuplicateShipment" : false,
            "signature" : {
              "link" : {
                "url" : "https://webpod.dhl.com/webPOD/DHLePODRequest?hwb=6VOW9nUCQLG7t9JTv9GxfA%3D%3D&pudate=dF1NuwwGCJkiiUL1Uem1WA%3D%3D&appuid=Cen%2BQLKtH%2BZt07%2FzXi%2BsVQ%3D%3D&language=en&country=US",
                "label" : "Get Signature Proof of Delivery"
              },
              "type" : "epod",
              "description" : "Tuesday, November 11, 2014  at 10:46 AM",
              "signatory" : "Delivered - Signed for by ",
              "help" : "help"
            },
            "extraShipmentDetails" : {
              "from" : [ "Higashikurume , Japan" ],
              "to" : [ "DAMON ROBERTS", "Greensboro , NC  27407", "United States of America" ],
              "noteOnWeight" : {
                "value" : "The weights displayed on this website are the weights provided when the shipment was created. Actual chargeable weights may be different and will be provided on the invoice",
                "label" : "Note on Weight"
              },
              "information" : [ {
                "value" : "2.9 lbs",
                "label" : "Total Weight"
              }, {
                "value" : "BOOK",
                "label" : "Description"
              }, {
                "value" : "EXPRESS WORLDWIDE nondoc",
                "label" : "Service"
              }, {
                "value" : "11/10/2014",
                "label" : "Ship Date"
              }, {
                "value" : "Package",
                "label" : "Ship Type"
              }, {
                "value" : "1",
                "label" : "Pieces"
              } ]
            },
            "pieces" : {
              "value" : 1,
              "label" : "Pieces",
              "showSummary" : true,
              "pIds" : [ "JD014600001324883884" ]
            },
            "checkpoints" : [ {
              "counter" : 12,
              "description" : "Delivered - Signed for by ",
              "time" : "10:46 AM",
              "date" : "Tuesday, November 11, 2014 ",
              "location" : "GREENSBORO                         ",
              "totalPieces" : 1,
              "pIds" : [ "JD014600001324883884" ]
            }, {
              "counter" : 11,
              "description" : "With delivery courier",
              "time" : "8:28 AM",
              "date" : "Tuesday, November 11, 2014 ",
              "location" : "GREENSBORO, NC - USA",
              "totalPieces" : 1,
              "pIds" : [ "JD014600001324883884" ]
            }, {
              "counter" : 10,
              "description" : "Arrived at Delivery Facility in  GREENSBORO [...]
